body{
	background-color: white;
}

#header-page{
	width: 100%;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% ;
	background-attachment: fixed;
	border-bottom: solid;
	border-bottom-color: rgba(0,0,0,.5);
	border-bottom-width: 10px;
}
#header-page-top{
	margin-bottom: 430px;
}


#menu-large{
	list-style: none;	
}

#menu-large li{
	float: right;
	padding: 25px 30px;
	cursor: pointer;
}

#menu-large li>img{
	width: 30px;
	height: 30px;
}

#menu-header-bottom{
	list-style: none;
	margin: 0px 20px 10px 0px;
}

#menu-header-bottom li{
	float: right;
	color: white;
	padding: 10px 30px;
	font-size: 17px;
	cursor: pointer;
}

#menu-header-bottom li:hover{
	background-color: rgba(255,255,255,.5);
}

#content-page{
	margin-top: 20px;
	font-family: cambria;
	color: rgb(84,7,120);
}

#about-me{
	text-align: justify;
	border-left: solid;
	border-width: 1px;
}

#portfolio{
	text-align: center;
}
#portfolio-item{
	margin: 20px 0px;
	padding: 10px;
	
}