
body{
	background-color: #BCF5A9;

}

#headerpage{
	text-align: center;
	width: 100%;
	background-image: url("../img/page_header.png");
	background-repeat:no-repeat;
    background-size: 100% 100%;
    padding:20px 10px 20px 20px; 
    border-left: solid;
    border-width: 1px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    box-shadow: 10px 0px 5px #888888;
}
#logo{
	margin-bottom: 10px;
}

#menu-principal{
	padding: 0px 0px;
	text-align: center;
	color: white;
	background-color: rgb(16,169,75);
	border-left: solid;
    border-width: 1px;
    border-left-color: black;
	box-shadow: 10px 0px 5px #888888;
	font-family: verdana;
	font-size: 17px;
}

#menu-principal a{
	color: white;
}

#menu-principal-item{
	cursor: pointer;
}

#menu-principal-item:hover{
	background-color: rgb(0,114,54);
}

#contenido{
	background-color: white;
	padding: 30px;
	box-shadow: 10px 0px 5px #888888;
	height: 300px;
}

#contenido-menu{
	line-height: 60px;
	font-size: 25px;
	color: rgb(0,114,54);
}

#innovacion, #auxiliar,#genera{
	text-align: center;
	line-height: 30px;
	border:solid;
	border-width: 1px;
	font-size: 17px;
}

iframe{
	width: 100%;
	height: 900px;
	box-shadow: 10px 0px 5px #888888;
}


#titulo-cv{
	text-align: center;
	background-color: rgb(0,114,54);
	color: white;
	font-size: 20px;
	box-shadow: 10px 0px 5px #888888;
}